## Regenie file is in HG38 and bgen file is in HG19, so need to liftover regenie file to HG19 to see if all the regenie snps are in the bgen file prior to extraction to determine LD

* use Liftover Pipeline by Yin https://github.com/changebio/bioworkflows/blob/master/GWAS/liftover.ipynb

## Prepare the files in Sumstat format before liftover

In [ ]:
import pandas as pd

In [26]:
# ASTHMA: /home/yl2385/work/21fall/220110_regenie_asthma_rerun/asthma_PC10_step2_imp.regenie_ASTHMA.regenie
# T2D: /home/yl2385/work/21fall/220110_regenie_T2D_rerun/T2D_PC10_step2_imp.regenie_T2D.regenie
# WC: /home/yl2385/work/21fall/220110_regenie_WC_rerun/WC_PC10_step2_imp.regenie_WAISTcirc_invranknorm.regenie

# asthma data
asthma_regenie = pd.read_csv("/mnt/mfs/statgen/bst2126/pleiotropy/JAZF1_sum/asthma_PC10_step2_imp.regenie_ASTHMA.regenie", sep=" ")

# t2d data
t2d_regenie = pd.read_csv("/mnt/mfs/statgen/bst2126/pleiotropy/JAZF1_sum/T2D_PC10_step2_imp.regenie_T2D.regenie", sep=" ")

# waist circumference data
waist_regenie = pd.read_csv("/mnt/mfs/statgen/bst2126/pleiotropy/JAZF1_sum/WC_PC10_step2_imp.regenie_WAISTcirc_invranknorm.regenie", sep=" ")


# subsetting regenie data to only keep information within jazf1 region - 7 27868573 28273990
# also only keeping necessary columns for analysis
asthma_regenie = asthma_regenie[(asthma_regenie["CHROM"] == 7) & (asthma_regenie["GENPOS"] >= 27868573) & (asthma_regenie["GENPOS"] <= 28273990)][["CHROM", "GENPOS", "ID", "ALLELE0", "ALLELE1", "A1FREQ", "N", "BETA", "SE", "LOG10P"]]
t2d_regenie = t2d_regenie[(t2d_regenie["CHROM"] == 7) & (t2d_regenie["GENPOS"] >= 27868573) & (t2d_regenie["GENPOS"] <= 28273990)][["CHROM", "GENPOS", "ID", "ALLELE0", "ALLELE1", "A1FREQ", "N", "BETA", "SE", "LOG10P"]]
waist_regenie = waist_regenie[(waist_regenie["CHROM"] == 7) & (waist_regenie["GENPOS"] >= 27868573) & (waist_regenie["GENPOS"] <= 28273990)][["CHROM", "GENPOS", "ID", "ALLELE0", "ALLELE1", "A1FREQ", "N", "BETA", "SE", "LOG10P"]]

In [27]:
asthma_regenie

,CHROM,GENPOS,ID,ALLELE0,ALLELE1,A1FREQ,N,BETA,SE,LOG10P
6069486,7,27869098,rs545409685,C,T,0.997340,339345,0.116773,0.071129,0.997184
6069487,7,27869261,7:27869261_CAGTA_C,C,CAGTA,0.998498,339345,0.036830,0.098431,0.149797
6069488,7,27869377,rs73075348,G,A,0.943372,339345,-0.000204,0.015226,0.004665
6069489,7,27869782,rs6948467,A,G,0.607234,339345,-0.002206,0.007223,0.119179
6069490,7,27869794,rs73075354,G,C,0.883803,339345,0.012311,0.011001,0.579898
...,...,...,...,...,...,...,...,...,...,...
6071548,7,28273623,7:28273623_TTTCCTTCCTTCC_T,T,TTTCCTTCCTTCC,0.842749,339345,0.000601,0.009892,0.021555
6071549,7,28273697,rs188426589,A,T,0.987408,339345,-0.004086,0.031982,0.046563
6071550,7,28273719,rs6944995,G,T,0.146693,339345,0.006399,0.009963,0.283409
6071551,7,28273829,rs192297723,C,A,0.988365,339345,0.013026,0.035082,0.148496
6071552,7,28273986,rs849313,C,T,0.190610,339345,0.011676,0.008962,0.715254

In [28]:
t2d_regenie

,CHROM,GENPOS,ID,ALLELE0,ALLELE1,A1FREQ,N,BETA,SE,LOG10P
6070158,7,27869098,rs545409685,C,T,0.997337,336074,0.038626,0.100036,0.155268
6070159,7,27869261,7:27869261_CAGTA_C,C,CAGTA,0.998492,336074,0.108386,0.140165,0.357178
6070160,7,27869377,rs73075348,G,A,0.943307,336074,0.016225,0.021522,0.345893
6070161,7,27869782,rs6948467,A,G,0.607261,336074,-0.020544,0.010241,1.348310
6070162,7,27869794,rs73075354,G,C,0.883898,336074,0.038589,0.015628,1.868420
...,...,...,...,...,...,...,...,...,...,...
6072220,7,28273623,7:28273623_TTTCCTTCCTTCC_T,T,TTTCCTTCCTTCC,0.842757,336074,-0.007129,0.014019,0.213893
6072221,7,28273697,rs188426589,A,T,0.987404,336074,-0.013464,0.045338,0.115494
6072222,7,28273719,rs6944995,G,T,0.146537,336074,0.013798,0.014138,0.482690
6072223,7,28273829,rs192297723,C,A,0.988329,336074,-0.051344,0.049307,0.526178
6072224,7,28273986,rs849313,C,T,0.190446,336074,0.021089,0.012715,1.012320

In [29]:
waist_regenie

,CHROM,GENPOS,ID,ALLELE0,ALLELE1,A1FREQ,N,BETA,SE,LOG10P
6069968,7,27869098,rs545409685,C,T,0.997340,365499,0.000830,0.009980,0.029799
6069969,7,27869261,7:27869261_CAGTA_C,C,CAGTA,0.998506,365499,-0.018772,0.013917,0.751086
6069970,7,27869377,rs73075348,G,A,0.943390,365499,-0.002467,0.002139,0.604290
6069971,7,27869782,rs6948467,A,G,0.607228,365499,-0.002577,0.001015,1.953540
6069972,7,27869794,rs73075354,G,C,0.883827,365499,0.006933,0.001547,5.128300
...,...,...,...,...,...,...,...,...,...,...
6072031,7,28273623,7:28273623_TTTCCTTCCTTCC_T,T,TTTCCTTCCTTCC,0.842736,365499,-0.001481,0.001391,0.541901
6072032,7,28273697,rs188426589,A,T,0.987452,365499,-0.008732,0.004520,1.272780
6072033,7,28273719,rs6944995,G,T,0.146811,365499,0.003185,0.001400,1.640000
6072034,7,28273829,rs192297723,C,A,0.988319,365499,-0.002544,0.004923,0.218021
6072035,7,28273986,rs849313,C,T,0.190705,365499,0.004186,0.001260,3.048090

In [30]:
# sumdata format 
# from current regenie data need to calculate A0FREQ and PVAL

# A0FREQ
get_a0freq = lambda row: 1 - row["A1FREQ"]

asthma_regenie["A0FREQ"] = asthma_regenie.apply(get_a0freq, axis=1)
t2d_regenie["A0FREQ"] = t2d_regenie.apply(get_a0freq, axis=1)
waist_regenie["A0FREQ"] = waist_regenie.apply(get_a0freq, axis=1)

# PVAL
get_pval = lambda row: 10 ** (-row["LOG10P"])

asthma_regenie["PVAL"] = asthma_regenie.apply(get_pval, axis=1)
t2d_regenie["PVAL"] = t2d_regenie.apply(get_pval, axis=1)
waist_regenie["PVAL"] = waist_regenie.apply(get_pval, axis=1)

In [31]:
asthma_regenie

,CHROM,GENPOS,ID,ALLELE0,ALLELE1,A1FREQ,N,BETA,SE,LOG10P,A0FREQ,PVAL
6069486,7,27869098,rs545409685,C,T,0.997340,339345,0.116773,0.071129,0.997184,0.002660,0.100651
6069487,7,27869261,7:27869261_CAGTA_C,C,CAGTA,0.998498,339345,0.036830,0.098431,0.149797,0.001502,0.708277
6069488,7,27869377,rs73075348,G,A,0.943372,339345,-0.000204,0.015226,0.004665,0.056628,0.989316
6069489,7,27869782,rs6948467,A,G,0.607234,339345,-0.002206,0.007223,0.119179,0.392766,0.760013
6069490,7,27869794,rs73075354,G,C,0.883803,339345,0.012311,0.011001,0.579898,0.116197,0.263089
...,...,...,...,...,...,...,...,...,...,...,...,...
6071548,7,28273623,7:28273623_TTTCCTTCCTTCC_T,T,TTTCCTTCCTTCC,0.842749,339345,0.000601,0.009892,0.021555,0.157251,0.951580
6071549,7,28273697,rs188426589,A,T,0.987408,339345,-0.004086,0.031982,0.046563,0.012592,0.898333
6071550,7,28273719,rs6944995,G,T,0.146693,339345,0.006399,0.009963,0.283409,0.853307,0.520704
6071551,7,28273829,rs192297723,C,A,0.988365,339345,0.013026,0.035082,0.148496,0.011635,0.710402
6071552,7,28273986,rs849313,C,T,0.190610,339345,0.011676,0.008962,0.715254,0.809390,0.192640

In [33]:
# keeping only relevant columns
asthma_regenie = asthma_regenie[["CHROM","GENPOS","ID", "ALLELE0", "ALLELE1", "A0FREQ", "BETA", "SE", "PVAL", "N"]]
t2d_regenie = t2d_regenie[["CHROM","GENPOS","ID", "ALLELE0", "ALLELE1", "A0FREQ", "BETA", "SE", "PVAL", "N"]]
waist_regenie = waist_regenie[["CHROM","GENPOS","ID", "ALLELE0", "ALLELE1", "A0FREQ", "BETA", "SE", "PVAL", "N"]]

In [34]:
asthma_regenie

,CHROM,GENPOS,ID,ALLELE0,ALLELE1,A0FREQ,BETA,SE,PVAL,N
6069486,7,27869098,rs545409685,C,T,0.002660,0.116773,0.071129,0.100651,339345
6069487,7,27869261,7:27869261_CAGTA_C,C,CAGTA,0.001502,0.036830,0.098431,0.708277,339345
6069488,7,27869377,rs73075348,G,A,0.056628,-0.000204,0.015226,0.989316,339345
6069489,7,27869782,rs6948467,A,G,0.392766,-0.002206,0.007223,0.760013,339345
6069490,7,27869794,rs73075354,G,C,0.116197,0.012311,0.011001,0.263089,339345
...,...,...,...,...,...,...,...,...,...,...
6071548,7,28273623,7:28273623_TTTCCTTCCTTCC_T,T,TTTCCTTCCTTCC,0.157251,0.000601,0.009892,0.951580,339345
6071549,7,28273697,rs188426589,A,T,0.012592,-0.004086,0.031982,0.898333,339345
6071550,7,28273719,rs6944995,G,T,0.853307,0.006399,0.009963,0.520704,339345
6071551,7,28273829,rs192297723,C,A,0.011635,0.013026,0.035082,0.710402,339345
6071552,7,28273986,rs849313,C,T,0.809390,0.011676,0.008962,0.192640,339345

In [35]:
# renaming columns in Sumstat format
asthma_regenie = asthma_regenie.rename(columns={"CHROM":"CHR", "GENPOS":"POS", "ID":"SNP", "ALLELE0":"A1", "ALLELE1":"A2", "A0FREQ":"A1FREQ", "BETA":"beta", "SE":"se", "PVAL":"p"})
t2d_regenie = t2d_regenie.rename(columns={"CHROM":"CHR", "GENPOS":"POS", "ID":"SNP", "ALLELE0":"A1", "ALLELE1":"A2", "A0FREQ":"A1FREQ", "BETA":"beta", "SE":"se", "PVAL":"p"})
waist_regenie = waist_regenie.rename(columns={"CHROM":"CHR", "GENPOS":"POS", "ID":"SNP", "ALLELE0":"A1", "ALLELE1":"A2", "A0FREQ":"A1FREQ", "BETA":"beta", "SE":"se", "PVAL":"p"})

In [36]:
asthma_regenie

,CHR,POS,SNP,A1,A2,A1FREQ,beta,se,p,N
6069486,7,27869098,rs545409685,C,T,0.002660,0.116773,0.071129,0.100651,339345
6069487,7,27869261,7:27869261_CAGTA_C,C,CAGTA,0.001502,0.036830,0.098431,0.708277,339345
6069488,7,27869377,rs73075348,G,A,0.056628,-0.000204,0.015226,0.989316,339345
6069489,7,27869782,rs6948467,A,G,0.392766,-0.002206,0.007223,0.760013,339345
6069490,7,27869794,rs73075354,G,C,0.116197,0.012311,0.011001,0.263089,339345
...,...,...,...,...,...,...,...,...,...,...
6071548,7,28273623,7:28273623_TTTCCTTCCTTCC_T,T,TTTCCTTCCTTCC,0.157251,0.000601,0.009892,0.951580,339345
6071549,7,28273697,rs188426589,A,T,0.012592,-0.004086,0.031982,0.898333,339345
6071550,7,28273719,rs6944995,G,T,0.853307,0.006399,0.009963,0.520704,339345
6071551,7,28273829,rs192297723,C,A,0.011635,0.013026,0.035082,0.710402,339345
6071552,7,28273986,rs849313,C,T,0.809390,0.011676,0.008962,0.192640,339345

In [37]:
t2d_regenie

,CHR,POS,SNP,A1,A2,A1FREQ,beta,se,p,N
6070158,7,27869098,rs545409685,C,T,0.002663,0.038626,0.100036,0.699410,336074
6070159,7,27869261,7:27869261_CAGTA_C,C,CAGTA,0.001508,0.108386,0.140165,0.439362,336074
6070160,7,27869377,rs73075348,G,A,0.056693,0.016225,0.021522,0.450928,336074
6070161,7,27869782,rs6948467,A,G,0.392739,-0.020544,0.010241,0.044843,336074
6070162,7,27869794,rs73075354,G,C,0.116102,0.038589,0.015628,0.013539,336074
...,...,...,...,...,...,...,...,...,...,...
6072220,7,28273623,7:28273623_TTTCCTTCCTTCC_T,T,TTTCCTTCCTTCC,0.157243,-0.007129,0.014019,0.611093,336074
6072221,7,28273697,rs188426589,A,T,0.012596,-0.013464,0.045338,0.766489,336074
6072222,7,28273719,rs6944995,G,T,0.853463,0.013798,0.014138,0.329086,336074
6072223,7,28273829,rs192297723,C,A,0.011671,-0.051344,0.049307,0.297730,336074
6072224,7,28273986,rs849313,C,T,0.809554,0.021089,0.012715,0.097203,336074

In [38]:
waist_regenie

,CHR,POS,SNP,A1,A2,A1FREQ,beta,se,p,N
6069968,7,27869098,rs545409685,C,T,0.002660,0.000830,0.009980,0.933687,365499
6069969,7,27869261,7:27869261_CAGTA_C,C,CAGTA,0.001494,-0.018772,0.013917,0.177384,365499
6069970,7,27869377,rs73075348,G,A,0.056610,-0.002467,0.002139,0.248720,365499
6069971,7,27869782,rs6948467,A,G,0.392772,-0.002577,0.001015,0.011129,365499
6069972,7,27869794,rs73075354,G,C,0.116173,0.006933,0.001547,0.000007,365499
...,...,...,...,...,...,...,...,...,...,...
6072031,7,28273623,7:28273623_TTTCCTTCCTTCC_T,T,TTTCCTTCCTTCC,0.157264,-0.001481,0.001391,0.287144,365499
6072032,7,28273697,rs188426589,A,T,0.012548,-0.008732,0.004520,0.053361,365499
6072033,7,28273719,rs6944995,G,T,0.853189,0.003185,0.001400,0.022909,365499
6072034,7,28273829,rs192297723,C,A,0.011681,-0.002544,0.004923,0.605312,365499
6072035,7,28273986,rs849313,C,T,0.809295,0.004186,0.001260,0.000895,365499

In [39]:
# Save sumstat format files to be lifted

asthma_regenie.to_csv("/mnt/mfs/statgen/bst2126/pleiotropy/JAZF1_sum/asthma_regenie_jazf1", sep=" ", index=False)
t2d_regenie.to_csv("/mnt/mfs/statgen/bst2126/pleiotropy/JAZF1_sum/t2d_regenie_jazf1", sep=" ", index=False)
waist_regenie.to_csv("/mnt/mfs/statgen/bst2126/pleiotropy/JAZF1_sum/waist_regenie_jazf1", sep=" ", index=False)

In [2]:
library(dplyr)

Attaching package: â€˜dplyrâ€™


The following objects are masked from â€˜package:statsâ€™:

    filter, lag


The following objects are masked from â€˜package:baseâ€™:

    intersect, setdiff, setequal, union

In [5]:
# Rename  A2=A0 to be consistent with sumstats format of Liftover.ipynb

asthma_regenie <- read.table("/mnt/mfs/statgen/bst2126/pleiotropy/JAZF1_sum/asthma_regenie_jazf1", header=TRUE, sep="\t")
asthma_regenie <- rename(asthma_regenie, A0 = A2)
t2d_regenie <- read.table("/mnt/mfs/statgen/bst2126/pleiotropy/JAZF1_sum/t2d_regenie_jazf1", header=TRUE, sep="\t")
t2d_regenie <- rename(t2d_regenie, A0 = A2)
waist_regenie <- read.table("/mnt/mfs/statgen/bst2126/pleiotropy/JAZF1_sum/waist_regenie_jazf1", header=TRUE, sep="\t")
waist_regenie <- rename(waist_regenie, A0 = A2)

# dublicate SNP column to keep after lifting and rename it with rsID

asthma_regenie <- asthma_regenie %>% mutate(rsID = SNP)
t2d_regenie <- t2d_regenie %>% mutate(rsID = SNP)
waist_regenie <- waist_regenie %>% mutate(rsID = SNP)

In [6]:
head (asthma_regenie)

  CHR POS      SNP                A1 A0    A1FREQ   beta         se
1 7   27869098 rs545409685        C  T     0.002660  0.116773000 0.07112890
2 7   27869261 7:27869261_CAGTA_C C  CAGTA 0.001502  0.036829900 0.09843050
3 7   27869377 rs73075348         G  A     0.056628 -0.000203885 0.01522620
4 7   27869782 rs6948467          A  G     0.392766 -0.002206310 0.00722281
5 7   27869794 rs73075354         G  C     0.116197  0.012311100 0.01100070
6 7   27869921 rs35410592         A  C     0.009441 -0.015885700 0.03695520
  p         N      rsID
1 0.1006505 339345 rs545409685
2 0.7082768 339345 7:27869261_CAGTA_C
3 0.9893163 339345 rs73075348
4 0.7600130 339345 rs6948467
5 0.2630886 339345 rs73075354
6 0.6672952 339345 rs35410592

In [7]:
# save files to be lifted

write.table(asthma_regenie, "/mnt/mfs/statgen/bst2126/pleiotropy/JAZF1_sum/asthma_regenie_jazf1_tobelifted",col.names=TRUE, row.name=FALSE,sep="\t",quote=FALSE)
write.table(t2d_regenie, "/mnt/mfs/statgen/bst2126/pleiotropy/JAZF1_sum/t2d_regenie_jazf1_tobelifted",col.names=TRUE, row.name=FALSE,sep="\t",quote=FALSE)
write.table(waist_regenie, "/mnt/mfs/statgen/bst2126/pleiotropy/JAZF1_sum/waist_regenie_jazf1_tobelifted",col.names=TRUE, row.name=FALSE,sep="\t",quote=FALSE)

In [ ]:
# Ran the liftover in the command line 
git clone https://github.com/changebio/bioworkflows.git
sos run bioworkflows/GWAS/liftover.ipynb --input_file /mnt/mfs/statgen/bst2126/pleiotropy/JAZF1_sum/asthma_regenie_jazf1_tobelifted --output_file asthma_regenie_jazf1_hg19 --cwd /mnt/mfs/statgen/bst2126/pleiotropy/JAZF1_sum --fr hg38 --to hg19 --container .
sos run bioworkflows/GWAS/liftover.ipynb --input_file /mnt/mfs/statgen/bst2126/pleiotropy/JAZF1_sum/t2d_regenie_jazf1_tobelifted --output_file t2d_regenie_jazf1_hg19 --cwd /mnt/mfs/statgen/bst2126/pleiotropy/JAZF1_sum --fr hg38 --to hg19 --container .
sos run bioworkflows/GWAS/liftover.ipynb --input_file /mnt/mfs/statgen/bst2126/pleiotropy/JAZF1_sum/waist_regenie_jazf1_tobelifted --output_file waist_regenie_jazf1_hg19 --cwd /mnt/mfs/statgen/bst2126/pleiotropy/JAZF1_sum --fr hg38 --to hg19 --container .

In [5]:
#Rearrange column names of the lifted sumstats
asthma_lifted <- read.table("/mnt/mfs/statgen/bst2126/pleiotropy/JAZF1_sum/asthma_regenie_jazf1_lifted", header=TRUE, sep="\t")
t2d_lifted <- read.table("/mnt/mfs/statgen/bst2126/pleiotropy/JAZF1_sum/t2d_regenie_jazf1_lifted", header=TRUE, sep="\t")
waist_lifted <- read.table("/mnt/mfs/statgen/bst2126/pleiotropy/JAZF1_sum/waist_regenie_jazf1_lifted", header=TRUE, sep="\t")

In [6]:
head(asthma_lifted)

  CHR POS      SNP                   A0 A1    A0FREQ   beta         se
1 7   27908717 chr7:27908717:C:T     C  T     0.002660  0.116773000 0.07112890
2 7   27908880 chr7:27908880:C:CAGTA C  CAGTA 0.001502  0.036829900 0.09843050
3 7   27908996 chr7:27908996:G:A     G  A     0.056628 -0.000203885 0.01522620
4 7   27909401 chr7:27909401:A:G     A  G     0.392766 -0.002206310 0.00722281
5 7   27909413 chr7:27909413:G:C     G  C     0.116197  0.012311100 0.01100070
6 7   27909540 chr7:27909540:A:C     A  C     0.009441 -0.015885700 0.03695520
  p         N      rsID
1 0.1006505 339345 rs545409685
2 0.7082768 339345 7:27869261_CAGTA_C
3 0.9893163 339345 rs73075348
4 0.7600130 339345 rs6948467
5 0.2630886 339345 rs73075354
6 0.6672952 339345 rs35410592

In [7]:
# Select only relevant columns

asthma_lifted <- asthma_lifted[,c(1,2,11,4:10)]
t2d_lifted <- t2d_lifted[,c(1,2,11,4:10)]
waist_lifted <- waist_lifted[,c(1,2,11,4:10)]

# Rename consistent with GSMR format
cols <- c("CHR","POS","SNP","A1","A2","A1FREQ","beta","se","p","N")
colnames(asthma_lifted) <- cols
colnames(t2d_lifted) <- cols
colnames(waist_lifted) <- cols

In [8]:
head(asthma_lifted)

  CHR POS      SNP                A1 A2    A1FREQ   beta         se
1 7   27908717 rs545409685        C  T     0.002660  0.116773000 0.07112890
2 7   27908880 7:27869261_CAGTA_C C  CAGTA 0.001502  0.036829900 0.09843050
3 7   27908996 rs73075348         G  A     0.056628 -0.000203885 0.01522620
4 7   27909401 rs6948467          A  G     0.392766 -0.002206310 0.00722281
5 7   27909413 rs73075354         G  C     0.116197  0.012311100 0.01100070
6 7   27909540 rs35410592         A  C     0.009441 -0.015885700 0.03695520
  p         N
1 0.1006505 339345
2 0.7082768 339345
3 0.9893163 339345
4 0.7600130 339345
5 0.2630886 339345
6 0.6672952 339345

In [9]:
write.table(asthma_lifted,"/mnt/mfs/statgen/bst2126/pleiotropy/JAZF1_sum/asthma_regenie_jazf1_lifted_new", col.names=TRUE,row.names=FALSE, sep="\t",quote=FALSE)
write.table(t2d_lifted,"/mnt/mfs/statgen/bst2126/pleiotropy/JAZF1_sum/t2d_regenie_jazf1_lifted_new", col.names=TRUE,row.names=FALSE, sep="\t",quote=FALSE)
write.table(waist_lifted,"/mnt/mfs/statgen/bst2126/pleiotropy/JAZF1_sum/waist_regenie_jazf1_lifted_new", col.names=TRUE,row.names=FALSE, sep="\t",quote=FALSE)

## Test regenie files against bgenfile and bfile to determine intersection of variants
* within jazf1 region - 7 27868573 28273990 of the sumstats files there are 2067 variants for asthma and t2d, and 2068 variants for waist
    * the intersection with the bgen file indicates 1952 and 1953 of these variants respectively

In [6]:
import pandas as pd

In [4]:
# Read bgenfile
# I used the imputed bgen from chr.7
bgenfile = pd.read_csv("/mnt/mfs/statgen/archive/UKBiobank_Yale_transfer/ukb39554_imputeddataset/ukb_mfi_chr7_v3.txt", sep="\t", header=None)

In [5]:
bgenfile

,0,1,2,3,4,5,6,7
0,7:14808_T_C,rs555283805,14808,T,C,6.696880e-05,C,0.364399
1,7:15064_T_C,rs576737504,15064,T,C,9.846300e-04,C,0.652527
2,7:16454_C_T,rs544026442,16454,C,T,7.442310e-07,T,0.011086
3,7:16692_G_C,rs370739206,16692,G,C,0.000000e+00,G,NaN
4,7:16712_T_G,rs373250171,16712,T,G,2.717570e-04,G,0.207113
...,...,...,...,...,...,...,...,...
5405519,7:159128544_A_C,rs183389554,159128544,A,C,7.966900e-05,C,0.308943
5405520,7:159128550_C_G,rs145893243,159128550,C,G,2.656680e-02,G,0.939808
5405521,7:159128554_C_T,rs77350961,159128554,C,T,2.120010e-04,T,0.254989
5405522,7:159128560_T_C,rs542634737,159128560,T,C,5.464860e-03,C,0.532634
5405523,7:159128567_A_T,rs562817270,159128567,A,T,1.647840e-02,T,0.568426

In [6]:
# create the variant id set 
bgen_chromsnp = set(bgenfile[0].to_list())

In [17]:
asthma_reg = pd.read_csv("/mnt/mfs/statgen/bst2126/pleiotropy/JAZF1_sum/asthma_PC10_step2_imp.regenie_ASTHMA.regenie",sep=" ", header=0)

In [21]:
asthma_reg

,CHROM,GENPOS,ID,ALLELE0,ALLELE1,A1FREQ,INFO,N,TEST,BETA,SE,CHISQ,LOG10P,EXTRA
0,1,692794,1:692794_CA_C,C,CA,0.889379,0.826759,339345,ADD,0.012052,0.012342,0.953634,0.483073,NaN
1,1,693731,rs12238997,G,A,0.884186,0.883995,339345,ADD,0.011207,0.011658,0.924112,0.473147,NaN
2,1,707522,rs371890604,C,G,0.902913,0.814173,339345,ADD,0.009250,0.013136,0.495828,0.317549,NaN
3,1,714596,rs149887893,C,T,0.968137,0.849083,339345,ADD,0.012427,0.022141,0.315034,0.240629,NaN
4,1,715265,rs12184267,T,C,0.964607,0.931861,339345,ADD,0.020255,0.020104,1.015090,0.503503,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13405791,22,51231220,rs368226325,G,A,0.946396,0.873326,339345,ADD,-0.009332,0.016700,0.312275,0.239361,NaN
13405792,22,51232581,rs5771020,C,T,0.703282,0.804300,339345,ADD,0.022429,0.008601,6.813350,2.043450,NaN
13405793,22,51236013,rs200507571,AT,A,0.747813,0.807550,339345,ADD,-0.013931,0.009019,2.385880,0.912090,NaN
13405794,22,51237063,rs3896457,C,T,0.701503,0.858448,339345,ADD,0.013742,0.008287,2.749890,1.012060,NaN
13405795,22,51237712,rs370652263,A,G,0.944895,0.864963,339345,ADD,-0.006178,0.016563,0.139133,0.149265,NaN

In [18]:
asthma_reg = asthma_reg[(asthma_reg["CHROM"] == 7) & (asthma_reg["GENPOS"] >= 27868573) & (asthma_reg["GENPOS"] <= 28273990)][["CHROM", "GENPOS", "ID", "ALLELE0", "ALLELE1", "A1FREQ", "N", "BETA", "SE", "LOG10P"]]

In [23]:
asthma_reg

,CHROM,GENPOS,ID,ALLELE0,ALLELE1,A1FREQ,N,BETA,SE,LOG10P
6069486,7,27869098,rs545409685,C,T,0.997340,339345,0.116773,0.071129,0.997184
6069487,7,27869261,7:27869261_CAGTA_C,C,CAGTA,0.998498,339345,0.036830,0.098431,0.149797
6069488,7,27869377,rs73075348,G,A,0.943372,339345,-0.000204,0.015226,0.004665
6069489,7,27869782,rs6948467,A,G,0.607234,339345,-0.002206,0.007223,0.119179
6069490,7,27869794,rs73075354,G,C,0.883803,339345,0.012311,0.011001,0.579898
...,...,...,...,...,...,...,...,...,...,...
6071548,7,28273623,7:28273623_TTTCCTTCCTTCC_T,T,TTTCCTTCCTTCC,0.842749,339345,0.000601,0.009892,0.021555
6071549,7,28273697,rs188426589,A,T,0.987408,339345,-0.004086,0.031982,0.046563
6071550,7,28273719,rs6944995,G,T,0.146693,339345,0.006399,0.009963,0.283409
6071551,7,28273829,rs192297723,C,A,0.988365,339345,0.013026,0.035082,0.148496
6071552,7,28273986,rs849313,C,T,0.190610,339345,0.011676,0.008962,0.715254

In [27]:
# Define set of chr:pos_Ref.allele_Alt.allele format to check the intersection of variants with the bgen file.

def chromsnp(row):
    return f"{row['CHROM']}:{row['GENPOS']}_{row['ALLELE1']}_{row['ALLELE0']}"
asthma_reg_chromsnp = asthma_reg.apply(chromsnp, axis=1)
asthma_reg_chromsnp = set(asthma_reg_chromsnp.to_list())

In [28]:
len(asthma_reg_chromsnp.intersection(bgen_chromsnp))

1952

In [21]:
# checking the intersection with SNP id
asthma_snps = set(asthma_reg['ID'].to_list())

In [22]:
bgen_snp = set(bgenfile[0].to_list())

In [23]:
len(asthma_snps.intersection(bgen_snp))

207

In [2]:
# t2d data
t2d_reg = pd.read_csv("/mnt/mfs/statgen/bst2126/pleiotropy/JAZF1_sum/T2D_PC10_step2_imp.regenie_T2D.regenie", sep=" ")

# waist circumference data
waist_reg = pd.read_csv("/mnt/mfs/statgen/bst2126/pleiotropy/JAZF1_sum/WC_PC10_step2_imp.regenie_WAISTcirc_invranknorm.regenie", sep=" ")


# subsetting regenie data to only keep information within jazf1 region - 7 27868573 28273990
# also only keeping necessary columns for analysis
t2d_reg = t2d_reg[(t2d_reg["CHROM"] == 7) & (t2d_reg["GENPOS"] >= 27868573) & (t2d_reg["GENPOS"] <= 28273990)][["CHROM", "GENPOS", "ID", "ALLELE0", "ALLELE1", "A1FREQ", "N", "BETA", "SE", "LOG10P"]]
waist_reg = waist_reg[(waist_reg["CHROM"] == 7) & (waist_reg["GENPOS"] >= 27868573) & (waist_reg["GENPOS"] <= 28273990)][["CHROM", "GENPOS", "ID", "ALLELE0", "ALLELE1", "A1FREQ", "N", "BETA", "SE", "LOG10P"]]

In [3]:
def chromsnp(row):
    return f"{row['CHROM']}:{row['GENPOS']}_{row['ALLELE1']}_{row['ALLELE0']}"
t2d_reg_chromsnp = t2d_reg.apply(chromsnp, axis=1)
t2d_reg_chromsnp = set(t2d_reg_chromsnp.to_list())
waist_reg_chromsnp = waist_reg.apply(chromsnp, axis=1)
waist_reg_chromsnp = set(waist_reg_chromsnp.to_list())

In [7]:
len(t2d_reg_chromsnp.intersection(bgen_chromsnp))

1952

In [8]:
len(waist_reg_chromsnp.intersection(bgen_chromsnp))

1953

Apparently, the regenie files are in the same genome build(hg19) as the bgen file as shown from the intersection.